<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partido">
            <h2><span>Partido</span> {{ partido.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Jornada</span></dt>
                <dd>
                    <span>{{ partido.jornada }}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{ partido.fecha }}</span>
                </dd>
                <dt><span>Rival</span></dt>
                <dd>
                    <span>{{ partido.rival }}</span>
                </dd>
                <dt><span>Jugador</span></dt>
                <dd>
                    <span *ngFor="let jugador of partido.jugadors; let last = last">
                        <a [routerLink]="['/jugador', jugador?.id, 'view']">{{ jugador.nombre }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partido', partido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
